<!doctype html>
<html ng-app="onlineShopper">
  <head>
    <title>Apples 4 Days</title>
    <script src="lib/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="js/OnlineShopperController.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="container" ng-controller="OnlineShopperCtrl">
      <div class="row con">
        <div class="col-md-6">
          <h2>Apples 4 Days</h2>
          <div ng-repeat="item in products">
            <span ng-click="showAdd = true" ng-hide="showAdd">
              <h4>{{item.name}}</h4>
              <img src={{item.image}} width=200px >
              <h5>{{item.price | currency: $ : 2}}</h5>
              </span>
              <div ng-show="showAdd">
                <span ng-click="showAdd = false">
                  <h4>{{item.name}}</h4>
                  <img src={{item.image}} width=200px >
                  <h5>{{item.price | currency: $ : 2}}</h5>
                </span>
                <button ng-click="addToCart(item)" class="btn btn-primary btn-xs">Add To Cart</button>
              </div>
          </div>
        </div>
        <div class="col-md-6 test">
          <h2>Cart:</h2>
          <div ng-repeat="item in cart track by $index">
            <span ng-click="showDelete = true" ng-hide="showDelete">
              <h5>{{item.name}} {{item.price | currency: $ : 2}}</h5>
            </span>
            <div ng-show="showDelete">
              <span ng-click="showDelete = false">
                <h4>{{item.name}} {{item.price | currency: $ : 2}} <button ng-click="deleteFromCart(item)" class="btn btn-xs btn-danger">Delete From Cart</button></h4>
              </span>
            </div>
          </div>
          <h3 ng-show="cart.length">Subtotal: {{calculateTotal()  | currency: $ : 2}}</h3>
          <form class="form-inline" role="form" ng-submit="calculateShipping(zip, calculateTotal())" ng-show="cart.length">
            <input type = "number" class="form-control input-sm" ng-model="zip" placeholder="zipcode"/>
            <button class="btn btn-primary btn-sm" type="submit">Calculate Shipping</button>
          </form>
          <h3 ng-show="cart.length">Shipping: {{cost | currency: $ : 2}}</h3>
          <h2 ng-show="cart.length">Total:{{calculateTotal() + cost | currency: $ : 2}}</h2>
        </div>
      </div>
    </div>
  </body>
</html>
